{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended"
    ],
    "parser": "babel-eslint",
    "plugins": ["react", "jsx-a11y"],
    "rules": {
        "camelcase": "error",
        "max-len": "error",
        "indent": ["error"],
        "quotes": "error",
        "object-curly-spacing": ["error", "always"],
        "eol-last": "error",
        "comma-dangle": "error",
        "no-trailing-spaces": "error",
        "default-case": "error",
        "no-var": "error",
        "semi": "error",
        "react/boolean-prop-naming": "error",
        "react/button-has-type": "error",
        "react/no-array-index-key": "error"
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "jest": true
    }
}
