{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "parser": "babel-eslint",
    "plugins": ["react"],
    "rules": {
        "camelcase": "error",
        "indent": ["error"],
        "quotes": "error",
        "object-curly-spacing": ["error", "always"],
        "eol-last": "error",
        "comma-dangle": "error",
        "no-trailing-spaces": "error",
        "default-case": "error",
        "no-var": "error"
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "jest": true
    }
}
