.gallery {
    h2 { 
        .text(white, 31px 'bebas-neue-regular');
        line-height: 60px;
        background: url('../../public/assets/img/bg.png') repeat;

        .wrapper {
            padding-left: 30px;
        }
    }

    .items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 30px; 
    }
}

@import url('item.less');