header {
	.wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 82px;

		#search-form {
			input[name="search-field"] {
				.input(430px, 35px, 2px);
				padding: 0 5px;
				border: solid 1px @gray;				
				border-right: none;
				.text(@gray, 25px @sub-font);
			}

			.flaticon-search {
				margin-top: 0;
				height: 35px;
				border: solid 1px @gray;
				border-left: none;
				outline: none;
				background-color: transparent;
				color: @gray;
			}
		}
	}
}

@import url('bucket.less');
@import url('menu.less');