#main-menu {
	border: solid 1px @gray;
	background-color: @cyan;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);

	ul {
		text-align: center;

		li {
			position: relative;
			display: inline-block;
			
			&:not(:last-child)::after {
				display: block;	
				position: absolute;
				content: "";
				top: 25%;
				right: -1px;
				z-index: 2;
				width: 2px;
				height: 18px;
				background-color: @white;
			}

			a {
				display: block;
				height: 36px;
				padding: 0 25px;
				.text(@white, 21px @main-font);
				line-height: 36px;
				
				&:hover {
					background-color: @darkcyan;
				}
			}
		}
	}
}