.carousel  {
    background: url('../../public/assets/img/bg.png') repeat;

    .slide {

        .slide-img {
            float: left;
            width: 40%;
            line-height: 450px;

            img {
                vertical-align: middle;
            }
        }
        
        .slide-info {
            float: left;
            width: 60%;

            h1 {
                margin: 30px 0;
                .text(@white, 60px @main-font);
            }

            p {
               width: 80%;
               .text(@white, 17px @sub-font);
               line-height: 28px;
            }

            button[name="shop-now"] {
                margin-top: 20px;
                .input(130px, 45px, 5px);
                .text(@white, 27px @main-font);
                background-color: transparent;
                border: solid 3px @white;
            }
        }
    }

    .pointer {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        border-radius: 50%;
        background-color: @white;

        &:last-child {
            margin-right: 0;
        }
    }
}

