@import url("less/index.less");

.carousel {
    background-color: @cyan;

    .swiper-container {
        height: 450px;

        .swiper-pagination-bullet {
            background-color: @white;
        }
    }
}
